.datos-utiles{
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 5vh;
    margin-bottom: 1%;

}
.datos-utiles .quarter{
    height: fit-content;
    min-height: 45vh;
    width: 48%;
    margin: 1% auto;
    justify-content: center;
    align-items: center;
    
}
.datos-utiles .quarterIMG{
    width: 48%;
    margin: 1% auto;
}
.datos-utiles h5{
    font-weight: 400;
}
.datos-utiles span{
    font-weight: 500;
}
.quarterIMG img{
    height: 50vh;
    display: block;
    margin: 0 auto;
}

.quarter hr{
    width: 60%;
}

.quarter p{
    text-align: justify;
    width: 90%;
}

.quarter .title h2{
    margin-top: 5%;
    line-height: 0.1;
}

.quarter .title h3{
    color:#7084bc;
}
.quarter a{
    color: black;
    font-weight: 500;
}

@media (max-width: 991px) {
    .datos-utiles{
        flex-direction: column;
        word-wrap: break-word;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .datos-utiles .quarter{
        width: 90%;
        margin-left: 5%;
        text-align: justify;
        align-content: center;
    }
    .datos-utiles .quarter h2{
        line-height: 0.9;
    }
    .datos-utiles .quarterIMG{
        margin: 0;
    }
    .quarterIMG img{
        width: 90vw;
        margin-left: 5vw;
        height: auto;
    }
    .quarter hr{
        width: 100%;
    }
}