.contenido {
    min-height: 90vh;
}


#cuerpo .footer-container{
    display: flex;
    background-color: #344f9ba6;
    min-height: 16vw;
    height: fit-content;
}
.footer-container {
    width: 100%;
}

.footer-container div{
    width: 33%;
    margin-bottom: 10px;
}

.footer-container div h1{
    font-size: 25px;
    margin-top: 10px;
}
.footer-container div h5 {
    margin-top: .4vw;
    font-size: 16px;
}

.footer-container div ul{
    text-align: center;
    margin-top: 1vw;
    align-items: center;
    list-style: none;
}
.footer-container div ul li{
    margin-bottom: 0.5vw; 
}
.footer-container div ul a{
    color: black;
    
    font-size: 16px;
    text-decoration: none;
}

.footer-container div ul a:hover{
    color: #fcfcfc;
    text-decoration: underline;
    text-decoration-color: #fcfcfc;
}

.footer-container .contact {
    margin-top: 1.4vw;
    margin-left: 25%;
    width: 100%;
    
}
.footer-container .contact a{
    display: flex;
    color: black;
}
.footer-container .contact a:hover{
    color: #fcfcfc;
}
.footer-container .contact img {
    height: 2vw;
    margin-right: 1vw;
    
}
.footer-container .contact a svg {
    margin-left: 5px;
    margin-top: 0.5%;
}


.footer-container .contact .nombreFB {
    width: fit-content;
}


.footer-container div #mapa{
    background-color: rgb(255, 255, 255);
    margin-top: 2.5vh;
    height: 13vw;
    margin-left: 1vw;
    transition: 0.5s;
}


.footer-container div #mapa:hover{
    transition: 0.5s;
    transform: scale(1.15);
}



.navbar {
    background-color:#7084bc ;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.24);
    height: 56px;

}
.navbar ul a{
    width: 100%;
}
.navbar li{
    padding-left: 2vw;
    padding-right: 2vw;
    height: 100%;
}

.navbar ul a:hover {
    text-decoration: underline;
    color: #fcfcfc;
}

