.contenido {
    min-height: 500px;
}


#cuerpo .footer-container{
    display: flex;
    background-color: #344f9ba6;
    min-height: 16vw;
    height: fit-content;
}
.footer-container {
    width: 100%;
}

.footer-container div{
    width: 33%;
    margin-bottom: 10px;
}

.footer-container div h1{
    font-size: 25px;
    margin-top: 10px;
}
.footer-container div h5 {
    margin-top: .4vw;
    font-size: 16px;
}

.footer-container div ul{
    text-align: center;
    margin-top: 1vw;
    align-items: center;
    list-style: none;
}
.footer-container div ul li{
    margin-bottom: 0.5vw; 
}
.footer-container div ul a{
    color: black;
    
    font-size: 16px;
    text-decoration: none;
}

.footer-container div ul a:hover{
    color: #fcfcfc;
    text-decoration: underline;
    text-decoration-color: #fcfcfc;
}

.footer-container .contact {
    margin-top: 1.4vw;
    margin-left: 25%;
    width: 100%;
    
}
.footer-container .contact a{
    display: flex;
    color: black;
}
.footer-container .contact a:hover{
    color: #fcfcfc;
}
.footer-container .contact img {
    height: 2vw;
    margin-right: 1vw;
    
}
.footer-container .contact a svg {
    margin-left: 5px;
    margin-top: 0.5%;
}


.footer-container .contact .nombreFB {
    width: fit-content;
}


.footer-container div #mapa{
    background-color: rgb(255, 255, 255);
    margin-top: 2.5vh;
    height: 13vw;
    margin-left: 1vw;
    transition: 0.5s;
}


.footer-container div #mapa:hover{
    transition: 0.5s;
    transform: scale(1.15);
}



.navbar {
    background-color:#7084bc ;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.24);
    height: 56px;

}
.navbar ul a{
    width: 100%;
}
.navbar li{
    padding-left: 2vw;
    padding-right: 2vw;
    height: 100%;
}

.navbar ul a:hover {
    text-decoration: underline;
    color: #fcfcfc;
}

/* Inicio */
.primera-seccion {
    margin-top: 10vh;
    display: flex;
}

.primera-seccion .content{
    width: 48%;
    margin: 0 1% 0 1%;    
}

.primera-seccion .contentL h2{
    font-size: 3vw;
    line-height: 0.8;

    
}

.primera-seccion .text{
    margin-left: 2vw;
    text-align: justify;
    text-justify: inter-word
}

.primera-seccion .contentL .text .resaltadoPlaza{
    color: #7084bc;
}

.primera-seccion .contentL h3{
    font-size: 2vw;
    line-height: 0.4;
}

.primera-seccion .contentL .parrafoEntrada{
    margin-top: 5vh;
}

.primera-seccion .botones{
    margin-top: 5vh;
    display: flex;
}

.primera-seccion .botones a{
    width: 40%;
    margin: 5%;
    background-color: #7084bc;
    border-color: rgba(0, 0, 0, 0.349);
    border-width: 2px;
}

.primera-seccion .contentR img{
    width: 45vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.24);
}

.segunda-seccion{
    margin-top: 2%;
    margin-left: 5%;
    background-color: #7084bc64;
    width: 90%;
    height: fit-content;
    text-align: center;
    border-radius: 50px;
}


.segunda-seccion .text{
    padding-top: 5vh;
    text-align: center  ;

    width: 80%;
    margin-left: 10%;
    padding-bottom: 4%;
}

.segunda-seccion .title{
    text-decoration: underline;
    font-style: italic;
    text-align: center  ;
}

.segunda-seccion h5 {
    margin-top: 2vh;
}


.tercera-seccion{
    margin-top: 2%;
}

.tercera-seccion .contenedor-noticias{
    display: flex;
}

.tercera-seccion .title{
    margin-left: 2vw;
}

.tercera-seccion .noticia{
    background-color: #7084bc;
    width: 32%;
    height: 30vh;
    margin-bottom: 4vh;
    margin-left: 1%;
}