/* Inicio */
.primera-seccion {
    margin-top: 10vh;
    display: flex;
}

.primera-seccion .content{
    width: 48%;
    margin: 0 1% 0 1%;    
}

.primera-seccion .contentL h2{
    font-size: clamp(35px, 3vw, 80px);
    line-height: 0.8;

    
}

.primera-seccion .text{
    margin-left: 2vw;
    text-align: justify;
    text-justify: inter-word
}

.primera-seccion .contentL .text .resaltadoPlaza{
    color: #7084bc;
}

.primera-seccion .contentL h3{
    font-size: clamp(25px, 1.5vw, 80px);
    line-height: 0.4;
}

.primera-seccion .contentL .parrafoEntrada{
    margin-top: 5vh;
}

.primera-seccion .botones{
    margin-top: 5vh;
    display: flex;
}

.primera-seccion .botones a{
    width: 40%;
    margin: 5%;
    background-color: #7084bc;
    border-color: rgba(0, 0, 0, 0.349);
    border-width: 2px;
}

.primera-seccion .contentR img{
    width: 45vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.24);
}

.segunda-seccion{
    margin-top: 2%;
    margin-left: 5%;
    background-color: #7084bc64;
    width: 90%;
    height: fit-content;
    text-align: center;
    border-radius: 50px;
}


.segunda-seccion .text{
    padding-top: 5vh;
    text-align: center  ;

    width: 80%;
    margin-left: 10%;
    padding-bottom: 4%;
}

.segunda-seccion .title{
    text-decoration: underline;
    font-style: italic;
    text-align: center  ;
}

.segunda-seccion h5 {
    margin-top: 2vh;
}


.tercera-seccion{
    margin-top: 2%;
}

.tercera-seccion .contenedor-noticias{
    display: flex;
}

.tercera-seccion .title{
    margin-left: 2vw;
}

.tercera-seccion .noticia{
    background-color: #7084bc;
    width: 32%;
    height: 30vh;
    margin-bottom: 4vh;
    margin-left: 1%;
}


@media (max-width: 991px) {
    .primera-seccion {
        display: flex;
        margin-top: 4vh;
        flex-direction: column;
    }
    .primera-seccion .content{
        width: 94%;
        margin: 0 2% 0 2%;    
    }
    .primera-seccion .contentL .parrafoEntrada{
        margin-top: 2vh;
    }
    .primera-seccion .contentR img{
        width: 90vw;
        margin-left: 4vw;
    }
    .segunda-seccion{
        margin-top: 4%;
    }
    .tercera-seccion .contenedor-noticias{
        flex-direction: column;
        justify-content: center;

    }
    .tercera-seccion .noticia{
        width: 90%;
        margin-left: 5%;
    }
    .tercera-seccion{
        margin-top: 4%;
    }
    .tercera-seccion .title{
        text-align: center;
    }

}