{%extends 'index.html'%}
{% load static %}
{%block title%}404 - Junta De Vecinos{%endblock%}

{%block content%}
<div class="primera-seccion" style="min-height: 80vh;">
    <div class="contentL content">
        <div class="text">
            <div class="title">
                <h3>Junta de Vecinos </h3>
                <h2> Barrio <span class="resaltadoPlaza">Plaza Uruguay</span> </h2>
            </div>
            
            
            <p class="parrafoEntrada">
                <h2>
404 - Página no encontrada                </h2>
                <div class="botones">
                    <a class="btn btn-primary ov-btn-slide-left btn-lg nosotros" href="/inicio">Inicio</a>
                    <a class="btn btn-primary ov-btn-slide-left btn-lg contacto" href="#footer">Contacto</a>
                </div>

            </p>
        </div>
    </div>
    <div class="contentR content">
        <img id="mapa" src="{% static 'img/mapa.png' %}" alt="mapa">
    </div>
</div>

{%endblock%}