<button onclick="scrollToTop()" id="btnTop" title="Volver arriba"> ↑</button>


<script>
// Obtener el botón
let mybutton = document.getElementById("btnTop");

// Mostrar el botón después de cierto desplazamiento
window.onscroll = function () {
    if (document.body.scrollTop > 150 || document.documentElement.scrollTop > 150) {
        mybutton.style.display = "block";
    } else {
        mybutton.style.display = "none";
    }
};

// Función para volver al inicio de la página
function scrollToTop() {
    window.scrollTo({
        top: 0,
        behavior: "smooth", // Desplazamiento suave
    });
}

</script>