{%extends 'index.html'%}
{% load static %}
{%block title%}Datos útiles - Junta De Vecinos{%endblock%}

{%block content%}
    <div class="datos-utiles">
        <div class="quarter">
            <div class="title">
                <h2>Atención al vecino</h2>
                <h3>Municipalidad de Providencia</h3>
            </div>
            <hr>
            <p>
                <h5>El Departamento de Atención al Vecino (DAV) en la Municipalidad, es el único canal que asegura a los vecinos una respuesta efectiva y oficial por parte del municipio en un breve plazo. En el DAV los vecinos podemos hacer presentaciones, solicitudes, consultas, denuncias y reclamos a los distintos departamentos/áreas de la Municipalidad que no tengan carácter de emergencia o urgencia, pero que si que requieran de la gestión municipal en el territorio de la comuna.</h5>
                <br>
                <h5>Se puede hacer en forma online o presencial.</h5>

                <h5><span>Online:</span> <a href="https://dac.providencia.cl/PortalVecinoDav">https://dac.providencia.cl/PortalVecinoDav</a> </h5>
                <h5><span>Presencial</span>: Av. Pedro de Valdivia N°963 (Municipalidad) </h5>
                <h5><span>Lunes a Jueves:</span> 8.30 - 14.00 y 15.00 - 17.00 hrs</h5>
                <h5><span>Viernes: </span>8.30 - 14.00 y 15.00 - 16.00 hrs</h5>
                
            </p>
            
        </div>
        <div class="quarter">
            <img src="{% static 'img/plaza 1.jpg' %}" alt="mapa">
        </div>
        <div class="quarter">
            <div class="title">
                <h2>Certificado de Residencia</h2>
                <h3>Instrucciones de Solicitud</h3>
            </div>
            <hr>
            <p>
                <h5>Este certificado se otorga a personas que acrediten su residencia en la comuna. Para solicitarlo, envíe un correo a <a href="mailto: barrioplazauruguay@gmail.com ">barrioplazauruguay@gmail.com </a> adjuntando la <span>documentación requerida </span>según su situación.</h5>
            
                <br>
                <h5><span>Si es propietario</span>, debe enviar una copia de la escritura o comprobante de pago de contribuciones a su nombre, una boleta actual de algún servicio básico (luz, agua, gas o gasto común) y una fotocopia de su cédula de identidad vigente por ambos lados. <span>Si es arrendatario</span>, envíe su contrato de arriendo a nombre propio, junto con una boleta actual de un servicio básico (luz, agua, gas o gasto común) y una fotocopia de su cédula de identidad vigente por ambos lados. Los socios de nuestra Junta de Vecinos 10B están exentos de presentar la escritura o el contrato de arriendo.</h5>
                <br>
                <h5>Además, en su solicitud debe indicar su dirección exacta y especificar el trámite o la institución ante la cual presentará el certificado. El certificado es sin costo para los socios activos de la Junta de Vecinos 10B y tiene una vigencia de 30 días a partir de la fecha de emisión.</h5>
                
            </p>
        </div>
        <div class="quarter">
            <div class="title">
                <h2>Retiro de Escombros, Enseres u Otros</h2>
                <h3>Servicio Municipal</h3>
            </div>
            <hr>
            <p>
                <h5>Este servicio consiste en el retiro de residuos voluminosos, enseres, escombros, desechos vegetales y otros no considerados en el servicio de recolección domiciliaria, estos retiros son solicitados por los vecinos.</h5>
                <br>
                <h5>Se solicita a través del correo <a href="mailto:aseo@providencia.cl">aseo@providencia.cl</a> </h5>

                <h5>Servicio diario (lunes a viernes) 08:30 – 17:30 hrs</h5>
                <h5><span>Valor del servicio: </span>En general por menos de un metro cúbico es gratis.</h5>
                
            </p>
        </div>
    </div>
{%endblock%}