{% load static %}
<div class="footer-container text-center">

    <div>
        <h1>De interés...</h1>
        <ul>
             <li><a href="">Inicio</a></li>
             <li><a href="">Nosotros</a></li>
            
             <li><a href="">Noticias</a></li>
             <li><a href="">Seguridad</a></li>
             <li><a href="">Reciclaje</a></li>
        </ul>
    </div>
    <div>
        <h1>Contacto</h1>
        <div id="mail" class="contact">
            <a href="mailto:barrioplazauruguay@gmail.com">
                <img src="{% static 'img/mail.png' %}" alt="Mail">
                <h5>barrioplazauruguay@gmail.com</h5>
            </a>
            
        </div>
        <div id="ig"  class="contact">
            <a href="https://www.instagram.com/barrioplazauruguay/?utm_source=ig_web_button_share_sheet">
                <img src="{% static 'img/IG.png' %}" alt="Instagram">
                <h5>@barrioplazauruguay</h5>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
                  </svg>
            </a>
            
        </div>
        <div ig="fb"  class="contact">
            <a href="https://www.facebook.com/juntadevecinosbarrioplazauruguay?locale=es_LA&_rdc=1&_rdr">
                <img src="{% static 'img/FB.png' %}" alt="Facebook">
                <div class="nombreFB">
                    <h5>Junta de Vecinos 10 B </h5>
                    <h5>"Barrio Plaza Uruguay"</h5>
                </div>
                
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
                  </svg>
            </a>
            
        </div>
        
        
            
            

    </div>
    <div>
        <img id="mapa" src="{% static 'img/mapa.png' %}" alt="mapa">
    </div>
</div>
