{%extends "index.html"%}
{%load static%}

{%block title%} Inicio - Junta De Vecinos {%endblock%}

{%block content%}
    <div class="primera-seccion">
        <div class="contentL content">
            <div class="text">
                <div class="title">
                    <h3>Junta de Vecinos </h3>
                    <h2> Barrio <span class="resaltadoPlaza">Plaza Uruguay</span> </h2>
                </div>
                
                
                <p class="parrafoEntrada">
                    <h5>
                        Somos una comunidad comprometida con mejorar nuestro barrio y ser el nexo entre los vecinos y la municipalidad. Nuestro objetivo es escuchar, trabajar juntos y construir soluciones que beneficien a toda nuestra comunidad.
                    </h5>
                    <div class="botones">
                        <a class="btn btn-primary ov-btn-slide-left btn-lg nosotros" href="#">Nosotros</a>
                        <a class="btn btn-primary ov-btn-slide-left btn-lg contacto" href="#footer">Contacto</a>
                    </div>

                </p>
            </div>
        </div>
        <div class="contentR content">
            <img id="mapa" src="{% static 'img/mapa.png' %}" alt="mapa">
        </div>
    </div>
    <div class="segunda-seccion">
        <div class="text">
            <div class="title">
            <h2>Un poco de historia</h2>
            </div>
        <div >
            <h5>A principios de 1900, Ricardo Lyon Pérez, construyó en sus terrenos de la comuna de Providencia un criadero de caballos finos con caballerizas, áreas de pastoreo y una gran pista de entrenamiento. A mediados de la década de 1940, se realizó en el lugar un proyecto de loteo residencial siguiendo el modelo inglés de la ciudad jardín, en el cual se incorporaron calles arboladas, casas aisladas con amplios jardines a su alrededor y una plaza pública que rescató árboles añosos del antiguo criadero, hoy la Plaza Uruguay, ubicada al oriente de la comuna de Providencia, dentro de la Unidad Vecinal 10.</h5>
        </div>
        </div>
        
    </div>
    <div class="tercera-seccion">
        <div class="title">
            <h2>Noticias recientes</h2>
            </div>
        <div class="contenedor-noticias">
            <div class="noticia"> </div>
            <div class="noticia"> </div>
            <div class="noticia"> </div>
        </div>
        
    </div>
{%endblock%}